{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock title %}

{% block content %}

<h1>About the Developer</h1>

<p>Meet Juan, a talented developer whose days are filled with coding challenges and innovative solutions. By night, he
    transforms into a fierce chess player, diving deep into complex strategies and enjoying the thrill of outsmarting
    his opponents on the board.
    When the weekend rolls around, Juan trades his keyboard for a soccer ball, relishing the camaraderie and excitement
    of the game. Balancing his love for technology, the intellectual rigor of chess, and the dynamic energy of sports,
    Juan embodies the spirit of versatility and passion, proving that life is best lived at the intersection of
    creativity, strategy, and athleticism.
</p>
<img src="{% static 'img/profile1.png' %}">

{% endblock content %}