{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock title %}

{% block content %}

<h1>BlogAlogy</h1>
<p>Welcome to our vibrant corner of the internet, where curiosity and creativity collide! Dive into a world of diverse
    voices, lively discussions, and shared adventures. Whether you’re here for travel tales, culinary experiments, or
    the latest in pop culture, our multi-user blog is a melting pot of ideas and inspiration. Join our community of
    passionate contributors, share your thoughts, and discover something new every day. Let’s embark on this journey
    together—your next favorite story is just a click away!.</p>

<img src="{% static 'img\about1.jpg' %}">

{% endblock content %}